.loginpage
{
    background-image: url("../../../public/MicrosoftTeams-image\ \(2\).png");
    background-repeat: no-repeat;

    background-position:left;
    padding-top: 50px;
    padding-bottom: 50px;
}